.letter {
    margin-top: -164px;
    margin-bottom: 37px;
    font-size: 107px;
    opacity: 0;
}

#score1 {
    border: solid;
    background-color: crimson;
}

#score2 {
    border: solid;
    background-color: cyan;
}

#gameScore2 {
    border: solid;
    background-color: rgb(0, 0, 185);
}

#gameScore1 {
    border: solid;
    background-color: darkred;
}

#player1ScoreBoard {
    float: left;
    margin-right: 454px;
}

#player2ScoreBoard {
    float: right;
    margin-left: 493px;
    margin-top: -7px;
}

body  {
    background-image: url("pk doriyah.png");
    background-color: #cccccc;
   }

.img {
    margin-bottom: 6px;
}

#cards {
    float: right;
    margin-right: 174px;
}

#reset {
    margin-top: -285px;
    margin-left: 143px;
}

.player1Text {
    background-color: red;
    border: solid;
}

.player2Text {
    background-color: blue;
    border: solid;
}